#!name=Pixiv Show
#!desc=高定制化Pixiv推送服务
#!openUrl=https://t.me/Functional_Store_Hub
#!author=@R·E https://t.me/Functional_Store_Hub
#!homepage=https://github.com/I-am-R-E/Functional-Store-Hub/tree/Master/PixivShow
#!manual=https://t.me/Functional_Store_Hub/10
#!icon=https://raw.githubusercontent.com/I-am-R-E/Functional-Store-Hub/Master/Files/icon.png

[task_local]
0 0/30 8-22 * * ? https://gist.githubusercontent.com/I-am-R-E/36ba86c4393e8d54fca4c350a155a4ec/raw/117872b47fe0c1b02e71a8fcf1fd728ee2fc483a/PixivShow.js, tag=Pixiv Show, img-url=https://raw.githubusercontent.com/I-am-R-E/Functional-Store-Hub/Master/Files/PixivShowICON.png, enabled=true
